/*----------------------------------*/
/*             Base                 */
/*----------------------------------*/

:root {
    --color-primary: #333;
    --color-primary-light: #eee;
    --color-primary-dark: #111;

    --color-accent: #ce5403;
}

*::before,
*::after,
* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    height: 400px;
    color: var(--color-primary-light);
    border-bottom: 1px solid #333;
    /* Exemple de bannière */
    background-image: url(../images/banner.jpg);
    /* NOTE : cover -> La bannière 'couvre' l'ensemble du header */
    background-size: cover;
    background-position: center;
    /* NOTE : Placer le titre au millieu du header (Sur la verticale)*/
    display: flex;
    align-items: center;
}

section {
    margin: 80px 0px;
    /* NOTE : margin -> Valeur 1 =  marge en haut et en bas, Valeur 2 = marge à gauche et à droite */
}

footer {
    height: 100px;
    border-top: 1px solid var(--color-primary-dark);
}


/*----------------------------------*/
/*           Mise en page           */
/*----------------------------------*/

.container {
    width: 80%;
    margin: 0 auto;
}

/* Rendre medias responsive */
.fluid {
    width: 100%;
    height: auto;
}

/*-----------------------------*/
/* Grille d'affichage flexbox */

/* Conteneur */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Items */

/* 5 items */
.item-20 {
    flex-basis: 19%;
}

/* 4 items */
.item-25 {
    flex-basis: 23%;
}

/* 3 items */
.item-33 {
    flex-basis: 32%;
}

/* 2 items */
.item-50 {
    flex-basis: 48%;
}

/* 1 item */
.item-100 {
    flex-basis: 100%;
}

/*----------------------------------*/
/*        Modules / composants      */
/*----------------------------------*/

/* Exemple de bouton avec effet de survol*/
.btn {
    display: block;
    border-radius: 5px;
    text-align: center;
    background-color: var(--color-accent);
    color: var(--color-primary-light);
    padding: 8px 5px;
    text-decoration: none;
    max-width: 200px;
    transition: all 250ms ease;
}

.btn:hover {
    background-color: var(--color-primary);
    color: var(--color-primary-light);
}


/*----------------------------------*/
/*             Responsive           */
/*----------------------------------*/

/* Tablette */

@media screen and (max-width:1024px) {
    header {
        text-align: center;
    }

    .container {
        width: 95%;
    }
}


/* Mobile */

@media screen and (max-width:768px) {
    .flex {
        flex-direction: column;
    }

}